
body{
    width: 100%;
	margin: 0 auto;
	padding: 0.1%;
	background: rgb(246, 246, 246);
	background: -moz-linear-gradient(90deg, rgb(246, 246, 246) 12%, rgb(233, 233, 235) 92%);
	background: -webkit-linear-gradient(90deg, rgb(246, 246, 246) 12%, rgb(233, 233, 235) 92%);
	background: -o-linear-gradient(90deg, rgb(246, 246, 246) 12%, rgb(233, 233, 235) 92%);
	background: -ms-linear-gradient(90deg, rgb(246, 246, 246) 12%, rgb(233, 233, 235) 92%);
	background: linear-gradient(180deg, rgb(246, 246, 246) 12%, rgb(233, 233, 235) 92%);

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
 }


/*Заголовок, меню, картинка - Евтушенко*/

h1.brand {
	text-align: center;
	margin: 0 auto 5px;
}

h1.brand img {
	width: 25%;
}

/*Меню*/

.navbar {
    margin-bottom: 0;
    color: #ffffff;
    background: #3C3D41;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	font-size: 20px;
    height: 60px;
    padding: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
 {
    color: #F5F5F5;
    background: #FF7441;
}

.navbar-default .navbar-nav > .active > a {
    color: #ffffff;
    background-color: #F94543;
}

/*конец Меню*/


.Wrap {
	padding: 0;
	width: 100%;
    display: inline-block;
    position: relative;
    margin: 19px 0 1px;
}


/*Заголовок*/

.color {
    width: 100%;
    height: 95px;
    text-align: center;
    margin-bottom: 10px;

background: -moz-linear-gradient(90deg, rgb(255, 210, 166) 30%, rgb(248, 67, 70) 100%);
background: -webkit-linear-gradient(90deg, rgb(255, 210, 166) 30%, rgb(248, 67, 70) 100%);
background: -o-linear-gradient(90deg, rgb(255, 210, 166) 30%, rgb(248, 67, 70) 100%);
background: -ms-linear-gradient(90deg, rgb(255, 210, 166) 30%, rgb(248, 67, 70) 100%);
background: linear-gradient(180deg, rgb(255, 210, 166) 30%, rgb(248, 67, 70) 100%);
/*background: rgb(251, 149, 149);
background: -moz-linear-gradient(90deg, rgb(251, 149, 149) 9%, rgb(225, 57, 70) 84%);
background: -webkit-linear-gradient(90deg, rgb(251, 149, 149) 9%, rgb(225, 57, 70) 84%);
background: -o-linear-gradient(90deg, rgb(251, 149, 149) 9%, rgb(225, 57, 70) 84%);
background: -ms-linear-gradient(90deg, rgb(251, 149, 149) 9%, rgb(225, 57, 70) 84%);
background: linear-gradient(180deg, rgb(251, 149, 149) 9%, rgb(225, 57, 70) 84%);*/

-webkit-box-shadow: 0px -10px 15px 0px rgba(50, 50, 50, 0.69);
-moz-box-shadow:    0px -10px 15px 0px rgba(50, 50, 50, 0.69);
box-shadow:         0px -10px 15px 0px rgba(50, 50, 50, 0.69);
}

.color1 {
    width: 100%;
    height: 95px;
    text-align: center;
    margin-bottom: 1px;

/*background: rgb(255, 210, 166);
background: -moz-linear-gradient(90deg, rgb(255, 210, 166) 16%, rgb(248, 67, 70) 82%);
background: -webkit-linear-gradient(90deg, rgb(255, 210, 166) 16%, rgb(248, 67, 70) 82%);
background: -o-linear-gradient(90deg, rgb(255, 210, 166) 16%, rgb(248, 67, 70) 82%);
background: -ms-linear-gradient(90deg, rgb(255, 210, 166) 16%, rgb(248, 67, 70) 82%);
background: linear-gradient(180deg, rgb(255, 210, 166) 16%, rgb(248, 67, 70) 82%);
*/

background: rgb(235, 235, 237);
background: -moz-linear-gradient(90deg, rgb(235, 235, 237) 30%, rgb(60, 61, 65) 100%);
background: -webkit-linear-gradient(90deg, rgb(235, 235, 237) 30%, rgb(60, 61, 65) 100%);
background: -o-linear-gradient(90deg, rgb(235, 235, 237) 30%, rgb(60, 61, 65) 100%);
background: -ms-linear-gradient(90deg, rgb(235, 235, 237) 30%, rgb(60, 61, 65) 100%);
background: linear-gradient(180deg, rgb(235, 235, 237) 30%, rgb(60, 61, 65) 100%);

-webkit-box-shadow: 0px -10px 15px 0px rgba(50, 50, 50, 0.69);
-moz-box-shadow:    0px -10px 15px 0px rgba(50, 50, 50, 0.69);
box-shadow:         0px -10px 15px 0px rgba(50, 50, 50, 0.69);
}

h2#gradient {
    position: absolute;
	width: 99%;
    text-align: center;
    margin: 15px auto;
    padding: 0 5px;
    z-index: 99999;
    top: -5px;

}

h2#gradient span {
    position:relative;
    display: inline-block;
    color: #EA4E27; /* Fallback Color */
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-family: helvetica;
    text-align:center;
    font-size: 70px;
    letter-spacing: -4px;
    text-shadow: 4px 4px 0px #441369, 8px 8px 0px rgba(255,255,255,0.1);  /* Fallback Shadow */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    h2#gradient span{
      background: -webkit-gradient(linear,left top,left bottom,from(#EA4E27),to(#802F7B));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow:none !important;
    }
    h2#gradient span:after {
        content: attr(data-text);
        left: 8px;
        position: absolute;
        background: url(http://i.imgur.com/RkDRMcJ.png); /* image source for your texture */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: -4px -4px 0px #441369, -1px 0px 0px rgba(255, 255, 255, 0.1);
        top: 8px;
        z-index: -1;
        width: 100%;
    }
}

@media (max-width: 1092px) {
    h2#gradient span {
        font-size: 65px;
    }
}

@media (max-width: 1007px) {
    .color, .color1 {
        height: 75px;
    }
    h2#gradient span {
        font-size: 50px;
    }
}    

@media (max-width: 757px) {
    h2#gradient span {
        font-size: 45px;
    }
} 

@media (max-width: 672px) {
    .color, .color1 {
        height: 65px;
    }
    h2#gradient span {
        font-size: 35px;
        text-shadow: 2px 2px 0px #441369, 5px 5px 0px rgba(255,255,255,0.1);  /* Fallback Shadow */
    }
    h2#gradient span:after {
        left: 6px;
        text-shadow: -4px -4px 0px #441369, -1px 0px 0px rgba(255, 255, 255, 0.1);
        top: 6px;
    }
}

@media (max-width: 504px) {
    .color, .color1 {
        height: 93px;
    }
    h2#gradient span {
        font-size: 35px;
    }
}

/*Картинка*/

.html48 img  {
	width: 100%;
}

div.html48  {
	text-align: center;
	margin: 0 auto;

-webkit-box-shadow: 0px -10px 15px 0px rgba(50, 50, 50, 0.69);
-moz-box-shadow:    0px -10px 15px 0px rgba(50, 50, 50, 0.69);
box-shadow:         0px -10px 15px 0px rgba(50, 50, 50, 0.69);
}

/*Конец - Заголовок, меню, картинка - Евтушенко*/

/*Слайдер*/

.Wrap1 {
    padding: 0;
    margin: 20px auto 5px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.slider {
    max-width: 100%;
    margin: -10px auto 1px;
    background-image: url(../image/imt1.png);
    background-size: cover;
    background-repeat: no-repeat;

-webkit-box-shadow: inset 0px -2px 30px 6px rgba(50, 50, 50, 0.69);
-moz-box-shadow:    inset 0px -2px 30px 6px rgba(50, 50, 50, 0.69);
box-shadow:         inset 0px -2px 30px 6px rgba(50, 50, 50, 0.69);
}

        /* jssor slider arrow navigator skin 02 css */
        /*
        .jssora02l                  (normal)
        .jssora02r                  (normal)
        .jssora02l:hover            (normal mouseover)
        .jssora02r:hover            (normal mouseover)
        .jssora02l.jssora02ldn      (mousedown)
        .jssora02r.jssora02rdn      (mousedown)
        .jssora02l.jssora02lds      (disabled)
        .jssora02r.jssora02rds      (disabled)
        */
        .jssora02l, .jssora02r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('img/a02.png') no-repeat;
            overflow: hidden;
        }
        .jssora02l { background-position: -3px -33px; }
        .jssora02r { background-position: -63px -33px; }
        .jssora02l:hover { background-position: -123px -33px; }
        .jssora02r:hover { background-position: -183px -33px; }
        .jssora02l.jssora02ldn { background-position: -3px -33px; }
        .jssora02r.jssora02rdn { background-position: -63px -33px; }
        .jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
        .jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
        /* jssor slider thumbnail navigator skin 11 css *//*.jssort11 .p            (normal).jssort11 .p:hover      (normal mouseover).jssort11 .pav          (active).jssort11 .pav:hover    (active mouseover).jssort11 .pdn          (mousedown)*/
.jssort11 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 69px;
    background: #181818;
}
.jssort11 .tp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.jssort11 .i, .jssort11 .pav:hover .i {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 60px;
    height: 30px;
    border: white 1px dashed;
}
* html .jssort11 .i {
    width /**/: 62px;
    height /**/: 32px;
}
.jssort11 .pav .i {
    border: white 1px solid;
}
.jssort11 .t, .jssort11 .pav:hover .t {
    position: absolute;
    top: 3px;
    left: 68px;
    width: 129px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fc9835;
    font-size: 13px;
    font-weight: 700;
}
.jssort11 .pav .t, .jssort11 .p:hover .t {
    color: #fff;
}
.jssort11 .c, .jssort11 .pav:hover .c {
    position: absolute;
    top: 38px;
    left: 3px;
    width: 194px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    overflow: hidden;
}
.jssort11 .pav .c, .jssort11 .p:hover .c {
    color: #fc9835;
}
.jssort11 .t, .jssort11 .c {
    transition: color 2s;
    -moz-transition: color 2s;
    -webkit-transition: color 2s;
    -o-transition: color 2s;
}
.jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort11 .p:hover, .jssort11 .pav:hover {
    background: #333;
}.jssort11 .pav, .jssort11 .p.pdn {
    background: #462300;
}
#jssor_1 {
    margin: 0 auto;
}

<<<<<<< Updated upstream
.nik {
	border: 4px solid green
=======

/*Слайдер*/
 
